
/*.file-style
{
    width:100px;
    height:50px;
    background:#3ec1c9;
    border-radius: 5px;
    text-align: center;
    position:relative;
}*/

#file
{
    width:100%;
    height:50px;
    opacity:0;
    cursor:pointer;
    position:absolute;
}